/*----------------------------
 Google font size Poppins 700 
 ----------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

 body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
 }
 
 /*---------------------
  First to blue section  
  ----------------------*/
  .top-section{
     display:flex;  
     padding: 50px;
     padding-bottom: 250px;
     background-color: #2D25A0;
  }
  /* top section hover image transform effect */
  .top-section:hover .top-image img{
     transform: rotate(45deg);
     transition: transform 5s 
     ease-in;
  }
  /* text & button aside */
  .text-button{
     height: 350px;
  }
  /* Top left title  */
  .top-title{
     color: white;
     height: 260;
     width: 445px;
     font-weight: 700;
     font-size: 64px;
     left: 360;
     margin-bottom: 0;
  }
  /* first section button  */
   .first-sec-button{
      padding: 10px;
      background-color: #E02C6D;
      color: white;
   }
   .first-sec-button:hover{
      border: 3px solid #E02C6D;
   }
  /* top right image  */
  .top-image img{
     margin-top: 100px;
   margin-left: 250px;
   width: 556.01px;
   height: 438px;
   left: 699px;
   top: 153px;
  }

  /*------------------------
   Second players section  
   -------------------------*/

   /* All players full section  */
   .all-players{
      margin-top: 20px;
      padding-top: 20px;
      padding-left: 10%;
      padding-right: 10%;
   }
   .players{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 24px;
   }
   /* Players information box  */
   .player-info{ 
      margin-top: 10px;
      margin-bottom: 10px;
     border-radius: 10px;
     padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
    /* player Image Style  */
   .player-info img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      position: static;
      width: 300px;
      height: 256px;
   }
   /* player Name Style  */
   .player-name{
      font-size: 28px;
   }
   /* player details Style  */
   .player-details{
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #6C6C6C;
   }
   /*-----------------------------------------
   Third section brilliant Copa America 2021
   ---------------------------------------  */
   .brliant-player{
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   /* brlliant plaer title style  */
   .bp-title{
      font-size: xx-large;
      padding-left: 100px;
      padding-right: 100px;
      border-radius: 50px;
       background-color: skyblue;
   }
   /* brlliant player text Style */
   .bp-text{
      width: 900px;
      text-align: justify;
   }
   h4{
      margin: 0;
   }

   /*-----------------------------
     Forth section TM Song Style
   ------------------------------*/
   .tm-song{
      text-align: center;
   }
   /* parents div/class Tm video % title  */
   .tm-box{
      margin: 10%;
      padding: 50px;
      border-radius: 50px;
      background-color:whitesmoke;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   /* box title  */
   .song-title{
      font-size: xx-large;
      width: 700;
      color: lightslategray;
      background-color: lightgray;
   }

   /*-------------------------
         Footer item style
   -------------------------*/
   footer{
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   .fotter-image{
      width: 483px;
      height: 110px;
   }
   /* Footer icon */
   .fab{
      color: gray;
   }
   /*------------------
       Media Qures
   --------------------*/

   /* Mobile responsive  */
@media only screen and (max-width:688px) {
   .top-section{
      display: flex;
      flex-direction: column;
   }  
   .text-button{
      width: 320px;
   }
   /* to title font style  */
   .top-title{
      font-size: 50px;
      width: 250px;
      left: 0;
   }
   .top-image img{
       margin-left: 0;
      margin-top: 100px;
      height: 250px;
      width: 350px;
   }
   /* player information section  */
   .players{
      grid-template-columns: repeat(1,1fr);
   }
   /* brilliant player image  */
   .brliant-player img{
      width: 400px;
   }
   /* brilliant player text  */
   .bp-text{
      width: 400px;
   }
   /* Tm song video  */
   video{
      width: 320px;
   }
   /* fotter tags logo image  */
   .fotter-image img{
      width: 180px;
   }

   }
   

